{% extends "core/base.html" %}

{% block content %}

<div class='min-h-screen flex justify-center items-center bg-gray-50 p-12 px-4 sm:px-6 lg:px-8'>
    <div class='max-w-md w-full space-y-8'>
        <h1 class='text-normal text-3xl text-center font-semibold'>Change Password</h1>
        <form action="" method='post'>
            {% csrf_token %}

            {% comment %} {{form.as_p}} {% endcomment %}
            
            <!--old password-->
            <p>
                <label for="id_old_password1" class='block text-normal'>Old Password</label>
                <input type="password" name='old_password' autocomplete="current-password" required id="id_old_password" class='rounded-lg w-full p-4 '>
            </p>

            <!--new password-->
            <p class='my-4'>
                <label for="id_new_password1" class='block text-normal'>New Password</label>
                <input type="password" name='new_password1' autocomplete="current-password" required id="id_new_password" class='rounded-lg w-full p-4 '>
            </p>

            <!--confirm password-->
            <p>
                <label for="id_new_password2" class='block text-normal'>Confirm Password</label>
                <input type="password" name='new_password2' autocomplete="current-password" required id="id_new_password" class='rounded-lg w-full p-4 '>
            </p>

            <input type="submit" value="Change" class='bg-blue-600 rounded-md text-white mt-4 py-2 px-4 w-full text-center text-normal hover:bg-blue-400'>
        </form>
    </div>
</div>

{% endblock content %}