{% extends "core/base.html" %}
{% block content%}
<div class='min-h-screen flex justify-center items-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8'>
    <div class='max-w-md full space-y-8'>
        <h1 class='text-normal font-semibold text-3xl text-center capitalize'>Set new Password</h1>

        <form action="" method='post'>
            {% csrf_token %}

            <!--password 1-->
            <p>

                <label for="password1" class='block text-normal'>New Password</label>
                <input type="password" name="new_password1" class='p-4 rounded-lg w-full'>
            </p>

            <!--password2-->
            <p class='mt-4 mb-4'>

                <label for="password2" class="block text-normal">Confirm Password</label>
                <input type="password" name='new_password2' class='p-4 rounded-lg w-full '>
            </p>

            <input type="submit" value='Change Password' class='bg-blue-600 rounded-md text-white py-2 px-4 w-full text-center text-normal hover:bg-blue-400'>
        </form>

    </div>
</div>
{% endblock content %}