{% extends "core/base.html" %}

{% block content %}

<div class='min-h-screen flex items-center justify-center bg-gray-50 px-4 sm:px-6 lg:px-8'>
    <div class='max-w-md w-full space-y-8'>
        <div>

            <h1 class='text-center text-3xl font-semibold capitalize text-gray-800'>reset your password</h1>
            <h1 class='text-normal text-gray-500 text-center capitalize'>enter your registered email</h1>
        </div>
        <form action="" method="post">
            {% csrf_token %}

            <label for="id_email"  class='block'>Email</label>
            <input type="email" name="email" autocomplete='email' maxlength="254" required id='id_email' class='rounded-md p-4 w-full '>

            <input type="submit" value="send reset link" class='py-2 px-4 bg-blue-600 text-white capitalize rounded-md mt-2 hover:bg-blue-400 w-full'>
        </form>
    </div>
</div>

{% endblock content %}