{% extends "core/base.html" %}
{% load static %}

{% block content %}

<!--page banner-->
<div class='w-full py-10 md:py-14 text-gray-700 bg-slate-300'>
   <!--message alert, when product added to cart-->

    
    <div class='w-2/3 mx-auto'
    x-data="{ showAlert: true}" x-init="setTimeout(() => showAlert = false, 1000)"
    >
       

        {% if messages %}
            {% for message in messages %}
            <div x-show="showAlert"
            x-transition:enter="transition ease-out duration-3000"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-3000"
            x-transition:leave-start="opacity-100"
            role="alert"
            id="alert-4" class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
            <svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div class="ms-3 text-lg font-medium">
                <span class='font-semibold'>{{message}}</span>
            </div>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-yellow-300 dark:hover:bg-gray-700" data-dismiss-target="#alert-4" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
                    {% endfor %}
        {% endif %}
    </div>



    <h1 class='text-center text-3xl  font-semibold capitalize'>product information</h1>
    <p class='text-sm md:text-medium text-gray-700 text-center'>{{product.name}} information</p>
</div>

<!--main content-->
<div class='w-2/3 mx-auto'>
 <div class='mt-10   md:py-2 md:w-2/3 md:px-8  md:mx-auto'>
    {% if product %}

    <div class='grid grid-cols-1 md:grid-cols-2 bg-white  rounded-lg shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700'>
        <div class='col-span-1 bg-[#dddddd]'>

            <img class="object-cover w-auto rounded-t-lg h-auto md:h-auto lg:h-auto  md:w-auto lg:w-auto md:rounded-none md:rounded-s-lg" src="{{product.image.url}}" alt="{{product.name}}">
        </div>

        <div class='px-4 py-2 md:py-0 col-span-1 rounded-l-lg bg-gray-800'>
            <h5 class='mb-2 text-2xl  font-bold tracking-tight text-wrap text-gray-900 dark:text-white uppercase'>{{product.name}}</h5>
            <h5 class='mb-2 text-3xl mt-10 font-bold tracking-tight text-gray-900 dark:text-white uppercase'>GH₵ {{product.price}}</h5>

            {% comment %} <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> {% endcomment %}
            <div class='flex justify-between items-center gap-2 mt-10'>
                <h5 class='mb-2 text-xl  font-bold tracking-tight text-gray-900 dark:text-white uppercase'>quantity</h5>
                <div class='flex justify-center items-center'
                x-data="{count:1}"
                >
                    <input hidden type="number" name='quantity' id="id_quantity" x-model="count">
                    <button type='button' value='{{product.id}}' id='add-qty' class='w-12 border h-auto bg-white rounded-l-md p-2  text-medium font-bold hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed'
                    x-on:click="count--"
                    :disabled="count <=1"
                    >–</button>
                    <p class='border p-2 text-medium  bg-white font-bold'><span x-text="count"></span></p>
                    <button class='w-12 border bg-white h-auto rounded-r-md p-2 text-medium font-bold hover:bg-gray-100'
                    x-on:click="count++"
                    >+</button>
                </div>
            </div>

            <div class='flex flex-col  md:mt-20 md:px-2 md:flex-row gap-3 md:gap-2 justify-center items-center '>
                
                <button type='button' value='{{product.id}}' id="add-cart" class='flex justify-center items-center gap-1 py-2 px-4 w-full rounded-md border-2 text-lg font-semibold text-gray-900 bg-yellow-500 hover:bg-black hover:text-white'>
                    Add to Cart
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M2.25 2.25a.75.75 0 0 0 0 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 0 0-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 0 0 0-1.5H5.378A2.25 2.25 0 0 1 7.5 15h11.218a.75.75 0 0 0 .674-.421 60.358 60.358 0 0 0 2.96-7.228.75.75 0 0 0-.525-.965A60.864 60.864 0 0 0 5.68 4.509l-.232-.867A1.875 1.875 0 0 0 3.636 2.25H2.25ZM3.75 20.25a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM16.5 20.25a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" />
                    </svg>

                </button>
            </div>

        </div>

    </div>
    
    {% endif %}
    
</div>   




<script>
    $(document).on('click', '#add-cart', function(e){

        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '{% url 'cart:cart_add'%}',
            data: {
                product_id : $('#add-cart').val(),
                product_qty: $('#id_quantity').val(),
                subtotal: $('id_subtotal').val(),
                csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                action:'post',
            },

            success: function(json){
                //console.log(json)
                location.reload();
                document.getElementById("cart_quantity").textContent = json.qty
                document.getElementById("items_total").textContent = json.item_total

            },
            error: function(xhr, errmsg, err){

            }
        });
    });
</script>




</div>


<!--related products-->
<section class='bg-white'>

    <div class=" py-12 mt-10 ">
      <div class="container mx-auto px-6">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">Related Products</h2>
            {% if related_products %}
            
                <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    {% for product in related_products %}
                        <div class="bg-gray-800 rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition-transform duration-300">
                            <div class="relative">
                                <img src="{{product.image.url}}" alt="Nestle Nido" class="w-full h-60 object-contain bg-[#dddddd]">
                                <span class="absolute top-3 left-3 bg-gray-300 text-gray-900 text-xs font-bold px-2 py-1 rounded-full shadow-md">In Stock</span>
                            </div>
                
                            <div class="p-5 space-y-3">
                                <h3 class="text-lg font-semibold capitalize text-white">{{product.name}}</h3>
                                <p class="text-gray-100 font-bold text-xl">GH₵ {{product.price|floatformat:2}}</p>
                                
                                <a href="{% url 'detail' product.id %}" 
                                class="group w-full flex items-center justify-center gap-2 bg-yellow-500 hover:bg-amber-400 text-gray-900 font-semibold py-2.5 rounded-full shadow-md transition-all duration-300 hover:scale-[1.02]">
                                <span>Buy Now</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" 
                                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                                        class="w-5 h-5 group-hover:translate-x-1 transition-transform duration-300">
                                        <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="M17.25 8.25L21 12l-3.75 3.75M21 12H3" />
                                    </svg>
                                </a>
    
    
                            </div>
                        </div>
                
                {% endfor %}
               
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}


